/************************ General *****************************/
/****** Fonts ******/

/** Font Awesome **/
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

/** Sites **/
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
/* Call to fonts
  font-family: 'Arvo', serif;
  font-family: 'Source Sans Pro', sans-serif;
*/

/****** End Fonts ******/

/****** Colors ******/

@fond-clair:  #FFFFFF;
@fond-gris:   #F0F0F0;
@fond-sombre: #444444;

@orange:      #ED786A;
@hv-orange:   #FD887A;

@rouge:       #CC0000;

@gris:        #666666;
@gris-sombre: #3C3C3C;
@gris-leger:  #E5E5E5;
@gris-clair:  #888888;
@gris-moyen:  #777777;

@blanc:       #FFFFFF;

/****** End Colors ******/

/****** Mixins ******/

/** Fonts **/
//icones
.fa {
  font-family: 'FontAwesome';
}

.fab {
  font-family: "Font Awesome 5 Brands";
}
//Titre H1
.ft {
  font-family: 'Arvo', serif;
}
//Font Generique
.fss {
  font-family: 'Source Sans Pro', sans-serif;
}

/** Icones **/
::before {
  .fa;
}

.ico-nav {
  a, span {
    color: @gris-clair;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:before {     
      font-weight: 900;
      content: '\f015';
      color: @gris-leger;
      display: inline-block;
      text-align: center;
      margin-right: 15px;
      background: @gris-clair;
      padding: 5px;
      border: 1px solid @gris-clair;
      border-radius: 25px;
      width: 35px;
      height: 35px;
    }
    &:hover, &:focus, &:active {
      color: @orange;
      &:before {
        color: @blanc;
        background: @orange;
        border-color: @orange;
      }
    }
  }
}

i {
  font-weight: 900;    
  color: @gris-leger;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  background: @gris-clair;
  padding: 5px;
  border: 1px solid @gris-clair;
  border-radius: 25px;
  width: 35px;
  height: 35px;
}

/****** Fin Mixins ******/

body {
  box-sizing: border-box;
  background-color: @gris-leger;
  
  transition: all 500ms linear;
  &.animated {
    transition: all 500ms linear;
    padding-left: 200px;
  }
  h2, h3, h4, h5, h6,
  a, p, span {
    .fss;    
    color: @gris-clair;
  }
  a, p, span {
    font-weight: 300;
  }
  a {
    &:hover, &:focus, &:active {
      color: @hv-orange;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  h2 {
    strong {
      color: @gris;
    }
  }  
  h3 {
    font-size: 16px;
    font-weight: bold;
  }  
  span {
    strong, .bold-b {
      color: @gris-moyen;
      font-weight: 900;
    }
  }
  .card {
    display: block;
    background-color: transparent;
    border-radius: 0;   
  }  
  a[href="php/pages/detail_art.php"] {
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
  .art-desc {
    a {
      border-bottom: 1px solid @gris-leger;
    }
  }
}

/*Titres*/
.titre {
  text-transform: uppercase;  
}

main:not(.accueil) {
  h1 {
    .fss;
    color: @gris-clair;
    text-shadow: none;

  }
}

/*Btn*/
.btn-art, .btn-submit {
  &:hover, &:focus, &:active {
    opacity: .8;
    text-decoration: none;
    transition: all 400ms ease;
  }
}

.btn-art, .btn-submit, .btn-modal {
  background: @orange;
  box-shadow: 0 3px @gris-leger;
  border: 1px solid @orange;
  border-radius: 4px;
  padding: 10px 45px;
  color: @blanc;
  text-transform: uppercase;
    &::before {
      color: @hv-orange;
      font-weight: 900;        
      content: '\f15b';
      font-size: 18px;
      margin-right: 7px;
    }
    span {
      color: @blanc;
      font-size: 16px;
      font-weight: 900;
      text-transform: uppercase;
    }
}

.btn-submit {
  &::before {
    content: '\f0e0';
  }
}

/*Listes*/
ul {
  list-style: none;
}

ul li a:hover {
  text-decoration: none;
}

/*Containers*/
body {
  .container-fluid {
    margin: 0;
    padding: 0;
  }
}

/*Separateur*/
.separateur {
  display: block;
  height: 15px;
  border-top: 2px solid @gris-leger;
  border-bottom: 2px solid @gris-leger;
  margin-bottom: 150px;
}

/************************ End General *****************************/

.modal-sent {
  background: #000 !important;   
  *:not([class*="modal"]) {
    background: none !important;    
    border: none !important;
    color: #000 !important;
    box-shadow: none !important;
      h1, img, &:before, i, input, textarea, button {
        display: none !important;
      }
  }
}

.modal-success {
  display: none;
  background: @blanc; 
  border: 5px solid @gris-leger; 
  padding: 25px 45px;
  position: fixed;    
  top: 50%;
  left: 40%;
  z-index: 10;
    p {
      margin-bottom: 30px;
    }
    .btn-modal {
      display: block;
      margin: 0 auto;
      width: 100%;
        &::before {
          content: '\f00c';
        }
    }
}

.nav-main-menu {
  margin: 50px 0;
}

main {
  margin-bottom: 150px;
}


.cont-title {
  position: relative;
  text-align: center;
  margin: 120px 0 100px 0;
  h1 {
    .ft;
    font-size: 62px;
    color: @orange;
    text-shadow: 3px 3px @gris-leger;    
    letter-spacing: 14px;    
    margin-bottom: 50px;
  }  
  .ss-titre {
    letter-spacing: 4px;
  }
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  li {
    .ico-nav; /*Style link & icones: General */
    display: inline-block;
    flex: 1;
    position: relative;  
    max-height: 60px;    
      &:hover, &:focus, &:active {        
        & > a {
          color: @orange;
            &:before {
              background: @orange;
              border-color: @orange;
              color: @blanc;
            }
        }
      }    
    &.link-truc {
      & > a {
        &:before {
          content: '\f080';
        }
      }
    }
    &.link-rouages {
      & > a {
        &:before {
          content: '\f013';
        }
      }
    }
    &.link-boucle {
      & > a {
        &:before {
          content: '\f2f1';
        }
      }
    }
    &.link-fausse {
      & > a {
        &:before {
          content: '\f6ff';
        }
      }
    }
    ul.ss-menu {
      display: none; 
      position: relative;     
      flex-direction: row;
      width: 100%;
      border: none;
      box-shadow: none;  
      margin-top: 0px;   
      top: 10%;   
      left: -6px;
      z-index: 1;    
        li {         
          padding: 0 15px;         
          display: inline-block;
          width: 100%;
          max-height: inherit;          
          ul {
            display: none;              
          }  
          a {
            text-transform: none;
            &::before {
              display: none;
            }        
          }               
        }
        & > li {
          &:hover, &:focus, &:active {            
            ul.ss-mn-un {
              display: inline-block;
            }
          }
        }
        // &:before {
        //   background: url('../../images/carret.png') no-repeat; 
        //   content: '';
        //   position: absolute;
        //   top: -9%;
        //   left: 6%;
        //   width: 50px;
        //   height: 50px;    
        // }            
    }
    &.active {   
      max-height: inherit;
      ul.ss-menu {
        display: inline-block;
      }
      /*Inderdit l'affichage d'un ss-menu qd un ss-menu est deja
      deploye*/
      & + .active {
        ul.ss-menu {
          display: none;
        }
      }     
    }
    /*Niveau 1*/    
    &:hover, &:focus, &:active {
      ul.ss-menu {
        display: inline-block;
      }
    }    
    .ss-mn-un {
      border: 1px solid @gris-leger;
      background-color: rgba(@blanc, 0.95);
      border-radius: 4px;
      position: absolute;
      right: -102%;
      top: -1px;
      padding: 0;
      width: 215px;
      max-width: 215px;
      //z-index: 1;
        li {
          display: inline-block;
          width: 100%;
        }
    }
  }
}

.cont-img {
 text-align: center;
  img {
    margin-bottom: 25px;  
  } 
}


main {
  h2 {
    margin-bottom: 50px;;
  }
}
.cont-img {
  overflow: hidden;  
  img {
    border: 7px solid @gris-leger;
    max-width: 100%;
    height: auto;   
  } 
}

.form-home-art {
  display: flex;
  flex-direction: row;
}

.cont-articles {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;  
    .card {
      flex: 1;
      padding: 20px;
      text-align: center;
      border: none;
        h3 {
          margin-top: 50px;
          margin-bottom: 25px;
        }
    }
}

main {
  h3 {
    text-align: left;
  }
}
section, aside {
  h3, h4, span, .cont-btn {
    text-align: left;
  } 
}

section {
  .cont-articles {
    flex-direction: column;     
      .card {
        padding: 0;
        .cont-img {
          margin-bottom: 50px;
        }     
        h3 {
          font-size: 24px;
          font-weight: 400;      
          margin-bottom: 55px;              
        }       
        h4 {
          margin-bottom: 25px;
        } 
      }
      h3:first-of-type {
        margin-top: 0;
      }
      .card:nth-child(3) {        
        h3 {
          margin-top: 25px;
        }
      }
      .separateur {
        margin: 0;
      }
  }
  .art-desc {
    margin-bottom: 75px;
  }
}

.cont-btn {
  text-align: center;
  margin-bottom: 50px; 
}

.container-fluid {
  .separateur {
    margin-bottom: 5px;
    border-bottom: none;
  }
  .separateur:last-child {
    border-top: none;
    border-bottom: 2px solid @gris-leger;
    margin-bottom: 150px;
  }
}

.cont-emile {
  background: url('../../images/banner.jpg') repeat; 
  max-height: 473px;
  width: 100%;
  text-align: center;  
  padding: 100px;
  margin-bottom: 5px;
    span {
      font-size: 50px;
      font-weight: 400;
      color: @gris-leger;
      text-transform: uppercase;
    }
}

.cont-post {
  margin-bottom: 25px;
  border-bottom: 2px solid @gris-leger;
  .date {
    padding: 5px 15px;
    margin-bottom: 25px;
    background: @gris-moyen;    
    display: inline-block;
    border-radius: 4px;
    box-shadow:  0 3px @gris-leger;
      span {
        color: @blanc;
        text-transform: uppercase;         
      }
  }
  h3 {
    margin-bottom: 25px;
  }
  .art-desc {
    display: inline-block;
    margin-bottom: 50px;    
  }
  &:last-child {
    border-bottom: none;
  }
}

aside {
  .cont-articles {
    flex-direction: column;
    border: none;
      .card {
        border-bottom: 2px solid @gris-leger;
        .cont-img {
          text-align: left;
          margin-bottom: 25px;
          border: none;
        }
        .art-desc {
          margin-bottom: 50px;
        }
        &:last-child {
          border-bottom: none;
        }       
      }
  }
  .separateur {
    margin: 0;
  }
}

footer {
  border-top: 2px solid @gris-leger;
  background-color: @fond-gris;
  padding: 50px;
  margin-top: 100px;
}

.cont-footer {
  h2 {
    padding: 50px;
  }
  .cont-formulaire {
    width: 100%;      
    .form-question {
      .cont-form-msg {
        position: relative;      
        textarea {
          display: block;
          margin: 15px 0;
          width: 100%;
          height: 200px;
          max-height: 200px;          
        }
        /*Placeholder*/
        .ft-msg-placeholder {
          position: absolute;
          top: 10%;
          left: 2%;            
        } 
      }
      .input-group-text {      
        width: 100%;
        background: @blanc;
        text-align: left;
        padding: 10px;
          &::placeholder {          
            color: @gris-clair;
          }
      }
      .error-msg {
        p {
          font-size: 14px;
          color: @rouge;
          padding: 5px 10px;
          margin-bottom: 0;
        }
      }
      #textareaErrorMsg {      
        margin-top: -10px;            
      }
    }
    .btn-submit {
      margin-top: 20px;
    }
  }
  .cont-pratique {
    .ss-titre {
      display: block;
      margin-bottom: 50px;
    }
    .links-pratiques, .links-reseaux {      
      li {
        margin-bottom: 25px;
          span, a {
            text-transform: inherit;
            white-space: normal;   
            font-weight: 300;
            letter-spacing: normal;
                         
          }
          i {
            padding: 8px;
          }
          &[class^="link-"] {
            .col-lg-10 {
              padding: 0 33px;
            }
          }
          &:hover, &:focus, &:active {
            span, a {
              color: @orange;             
            }
            i {
              background: @orange;
              border-color: @orange;
              color: @blanc;
            }
          }
      }
    }
  }
  .cont-illegales {
    border-top: 2px solid @gris-leger;
    margin-top: 100px;
    padding: 80px;
    text-align: center;
    ul {
      li {
        display: inline-block;
          &:first-child {
            padding-right: 25px;
            border-right: 1px solid @gris-leger;
            margin-right: 25px;
          }
          &:last-child {
            a {
              border-bottom: 1px solid @gris-leger;
            }
          }
      }
    }
  }
}

.pg-head {
  .separateur {
    margin-bottom: 100px;
  }
}

.sub-title {
  color: @orange;
  text-shadow: 3px 1px @gris-leger; 
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 900;
}

/************************ Truc en Toc *****************************/




/************************ Detail articles *****************************/

.pg-detail {
  h1 {
    margin-bottom: 50px;
  }

  .separateur {
    margin-bottom: 100px;
  }

  article {
    border: none;
      .date {      
        display: table;  
       margin: 0 AUTO 50px;

          // span {
          //   color: @gris-moyen;
          // }
      }
  }
}


/************************ Rouages - connexion *****************************/

.pg-connexion {
  form {
    display: block;    
    padding: 50px;
    border: 2px solid #ddd;    
    border: none;
      .form-cont {   
        width: 70%;  
        margin: auto;
        input {
          display: block;
          margin-bottom: 20px;
          height: 20px;
          width: 90%;
          padding: 10px;                 
          box-shadow: none;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: @blanc;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: @blanc;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: @blanc;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: @blanc;
            }
        }
        label {
          color: @gris-clair;
        }
      }
      .btn-submit {       
        display: block;
        margin: 0 auto;
        width: 75%;
        padding: 10px 0;           
        border: none;
        text-transform: uppercase;
        color: @blanc;
        font-weight: bold;
          &::before {
            display: none;
          }
      }
    
  }
}

/*====================================================================*/
/*========================= BACKEND =================================*/
/*==================================================================*/

/*** Colors ***/
@bg-blue: #0a2140;
@noir:    #000;
@light-grey: #dedede;
@bg: #f7f8fa;
@border: #eaebec;

.backend  {
  [class^="pg-"] {
    background: @bg;
    height: 100vh;
  }
  button {
    background: @blanc;
    border: 1px solid #dedede;
    padding: 5px 10px;
  }
}

.bk-nav {
  position: fixed;
  background: @bg-blue;
  height: 100vh;
  width: 15%;
  float: left;
    .sub-title {
      color: @blanc;
      padding: 25px;
      font-size: 20px;     
      background: darken(@bg-blue, 7);
    }
    a {
      color: @blanc;     
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  ul {
    padding: 0;
    li { 
      padding-left: 50px;     
      a {
        display: block;
        padding: 5px;
      }  
    }
    .bk-link {
      border-bottom: 1px solid darken(@bg-blue, 7);
    }
    .ss-link {   
      & > a {       
        &::before {
          .fa;
          content: '\f107';
          position: relative;
          font-weight: 300;
          color: @blanc;
          float: right;
          right: 15%;
        }      
      }
      .ss-menu {
        display: none;         
      }
      &.active {
        .ss-menu {         
          display: block;
        }
      }  
    }
    
  }
}

nav.nav-info-bar {
  float: right;
  width: 85%;
    span, p {
      color: @noir;
    }  
    .info-bar {
      background: @noir;
      padding: 10px;
      .salutation {
        font-size: 16px;
        color: @blanc;
        margin: 0;
      }
    }
    .main-panel {
      padding: 50px;
        .onglet-title {
          padding: 10px 25px;
          background: @light-grey;
          border: 1px solid @gris;
          border-radius: 4px 4px 0 0;
        }
        .user-count {
          margin-top: 8px;
          padding: 25px;
          border: 1px solid @gris;
        }
    }
}

section[class^="pg"] {
  padding: 50px;
  width: 85%;
  float: right;
  background: @bg;
  height: 100vh;
  h1 {
    margin-bottom: 50px;
  }
    h1,  h2{
      text-align: left;
    }
    h2 {
      margin: 50px 0;
    }
}

.form-ss-titres {
  margin-top: 25px;
}

.head-section {  
  .col-lg-12 {
    padding: 0;
    .row { 
      border: 1px solid @border;               
      margin: 15px 0;
      padding: 10px 0;  
      background: @blanc;  
      [class^="col-"] {
        border-right: 1px solid @gris-clair;    
        &:last-child {           
          border-right: none;
        }
      }
    }
  }

}

.statistiques {
  background: @blanc;
  padding: 15px;
}

.tableau {  
  .row .col-lg-12 {
    padding: 0; 
    .row  { 
      border: 1px solid @border;               
      margin: 15px 0;
      padding: 10px;
      background: @blanc;
        [class^="col-"] {
          //border-right: 1px solid @gris-clair;         
            &:first-child {
              border-left: none;            
            }
            &:last-child {           
              border-right: none;
            }
        }      
    }
  }
  .modifier-row {
    margin-top: 25px;
  }
}

.pg-users-modifier {
  .row .col-lg-12 .row  { 
    &:first-child {   
      border: 1px solid @gris-clair;    
    }
  }    
}

.formulaire-ajout {
  width: 100%;
  margin-top: 5%;
    input, select {
      margin-right: 5%;
    }
}

.date {
  display: inline-block;
  border-radius: 4px;
  padding: 5px 15px;
  background: @gris-moyen;
  box-shadow: 0 3px @gris-leger; 
  margin-top: 25px;     
  span {
    color: @blanc;
  }
}

.pg-articles {
  .card {
    padding: 15px;
    border: inherit;
    border-bottom: 3px solid @gris-leger;
    h3, .date, .btn-suite {
      margin-bottom: 45px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      color: @gris-clair;
    }
    .btn-suite {
      margin-left: 15px;
    }
  }
 
}

.pg-art-mod {
  .tableau {
    .row .col-lg-12 .row {
      border: none;
    }
    .form-art-mod {
      label, input {
        display: block;
      }
      input {
        margin-bottom: 50px;
        width: 100%;        
      }
      #upload_img {
        display: inline-block;
        width: 15%;
      }
      textarea {
        width: 100%; 
      }
      .txt-chapo {
        height: 150px;
        margin-bottom: 50px;
      }
      .txt-content {
        height: 250px;
        margin-bottom: 25px;
      }
    }
  }
}

.pg-article-added {
  .formulaire-ajout {
    width: 90%;
    margin: auto;
      input:not(#upload_img), textarea {
        display: block;
        width: 80%;
        margin-bottom: 25px;
      }
      button[name="save_art"] {
        margin-top: 35px;
      }
  }
}


/************************ Responsive *****************************/

/***** Cache le bouton burger en desktop *****/
.toggle-btn {
  display: none;
}

@media (max-width: 991px) {
  /*Body style with burder menu deployed*/
  .apply-mw-small {
    div[class*="col-md"], article[class*="col-md"] {
      flex: 0 0 100%;
      max-width: 100%;
    }
    div.col-md-10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }  
    div.col-md-2 {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }  
    .cont-btn {
      text-align: center;
    }
    .cont-emile {
      span {
        font-size: 1.5rem;
      }
    }
    aside {
      .cont-articles {
        .art-desc {
          text-align: left;
        }
        .cont-btn {
          width: 38%;
          float: right;
          display: block;
          margin: 20px 10%;
        }
      }
    }
    .cont-footer {
      .cont-formulaire {       
        margin: 0 auto;
        .btn-submit {
          display: block;
          margin: 30px auto;
        }      
      }
      .cont-pratique {
        .mn-menu-link {
          font-size: initial;
          font-weight: 400;
        }
      }
    }
    .cont-illegales {
      ul {
        li:first-child {
          white-space: nowrap;
          border: none;
        }
      }
    }
  }

  .cont-articles {
    .col-lg-4:last-child {
      margin: auto;
    }
  }

  /***** Menu responsive *****/

  /***** General *****/
.ico-nav {
  a, span {
    &:before {
      height: 25px;
      width: 25px;
      font-size: 10px;

    }
  }
}

/***** Fin General *****/


/*Menu responsive Burger*/
  .main-menu {
    li {
      flex: 0;
    }
  }

  .toggle-btn {
    display: block;
    position: absolute;
    left: 104%;
    top: 1%;
    z-index: 1;
    background: @fond-gris;
    padding: 11px 22px;
    border: 1px solid @fond-gris;
    border-radius: 4px;
    box-shadow: 4px 4px 0px -2px  darken(@fond-gris, 10%);
  }

  .toggle-btn span {
    display: block;
    width: 20px;
    height: 3px;
    background: lighten(@gris-clair, 17%);
    margin: 3px 0;
  }
  
  #side-bar {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: -200px;
    background: @fond-sombre;
    transition: all 500ms linear;
    margin: 0;
    z-index: 1;    
  }
  
  #side-bar.active {    
    left: 0;
    top: 0;  
    margin-top: 0;   
  }

  nav {
    .main-menu {    
      flex-direction: column;
      justify-content: start;
      height: 100%;
      padding: 0;
      overflow: scroll;
      li {   
        //margin-bottom: 27%;
        a {
          display: block;
          color: @blanc;
          font-weight: 900;
          padding: 15px 30px;       
          border-bottom: 1px solid @gris-sombre;
          &:hover, &:active, &:focus {
            color: @gris-leger;
          }
          /*Icones menu desktop*/
          &::before {
            display: none;          
          }       
        }       
        &:not(.active) {
          &:hover, &:focus, &:active {
            .ss-menu, .ss-mn-un {
              display: none;
            }
          }       
        }
        /*Sous menu nv1*/      
        &.active {
          max-height: fit-content;
          ul.ss-menu {            
            left: inherit;
            margin-top: 0;
            border: none;
            background: transparent;
            position: relative;
            width: 100%;
            max-width: inherit; 
            overflow: hidden;       
              /*Caret sous-menu Desktop*/
              &::before {
                display: none;          
              } 
              li {
                all: unset;
                flex: 0; 
                a {  
                  color: @gris-clair;            
                  position: relative;
                  left: 0;
                  color: @gris-leger; 
                  border-top: none;  
                  padding-left: 50px;
                  font-weight: 400;     
                }
                &:hover, &:focus, &:active {
                  .ss-mn-un {
                    display: none;
                  }
                }
                &.ss-link-active {
                  .ss-mn-un {
                    display: block;        
                  }
                }
                &:last-child {
                  a {
                    border-bottom: 1px solid @gris-sombre;
                  }
                }
              
              }
              /*Sous menu nv2*/
              .ss-mn-un {
                //display: block;
                position: relative;
                border: none;
                background: @fond-sombre;
                border-radius: 0;
                left: 0;
                  li {
                    a {
                      padding-left: 60px;
                      //white-space: nowrap;
                    }
                  }
              }
            
          }
          & + .active {
            .ss-menu {
              display: block;
            }
          }          
        }
    
        & {
          &:hover, &:focus, &:active {
            a {
              color: @blanc;
            }
          }          
        }
      }/*Fin first li main-menu*/ 
    }/*Fin main-menu*/ 
  }

  /***** Fin Menu responsive *****/

  .cont-articles {
    .card {
      padding: 0;   
      margin-bottom: 35px;           
    }
  }

  .cont-emile {
    padding: 55px;
      span {
        font-size: 2.7rem;
      }
  }

  .cont-articles, .cont-post {  
    text-align: center;  
    h3, h4, .art-desc, .date {
      text-align: center;     
    }
    h3 {
      font-size: 20px;
    } 
  }

  aside {
    .cont-articles {
      .card {
        display: block;   
        .cont-img {          
          float: left;
          margin-right: 25px;
        }  
        .cont-btn {
          white-space: nowrap;
            .btn-art {
              display: block;
              padding: 10px 20px;
              margin-top: 25px;
            }          
        }  
      }    
    }
  }

  /***** Footer *****/
  /*Formulaire*/
  .form-question  {
    .col-lg-6:first-child {
      input {       
        margin-bottom: 20px;        
      }
    } 
    .btn-submit {
      margin-bottom: 30px;
    }
  }

  /*Liens pratiques*/
  .cont-footer {
    .cont-pratique {
      .links-pratiques, .links-reseaux {
      padding-left: 15px;      
        li {
          a, span {
            font-size: .8rem;
              &:before {
                display: none;               
              }
              i {
                height: 30px;
                width: 30px;
                padding: 7px;                
              }
          }       
        }
      }      
    }
  }


  

}/*Fin (max-width: 991px)*/

@media(max-width: 761px) {

body, .apply-mw-small {
  /***** General *****/
  & {  
    h2 {
      font-size: 1.5rem;
    }
    .container {
      padding: 0 50px;
    }
  }
 

  /*Btn*/
  .btn-art {
    width: 100%;
    display: block;
    text-align: center;
  }
  
  /*separateurs*/
  .container-fluid  {
    .sep-hd-main, .sep-emile-art {
      margin-bottom: 80px;
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
  /***** Fin General *****/

  .cont-title {
    h1 {
      font-size: 2.5rem;
    }
    .ss-titre {
      padding: 30px;
      white-space: break-spaces;
    }
  }

  .cont-emile {
    span {
      font-size: 1.5rem;
    }
  }

  .cont-articles {
    .art-desc {
      text-align: justify;
    }
    .card:last-child {
      .cont-btn {
        margin-bottom: 0;
      }
    }
  }

  .col-post {
    .art-desc {
      text-align: justify;
    }
  }

  aside {
    .cont-articles {
      .card {
        text-align: justify;
      }
      .cont-btn {
        margin-top: 25px;
        text-align: center;
          .btn-art {
            float: left;          
          }
         
      }
    }
  }

  .cont-footer {
    h2 {
      padding: 25px;
    }
    .cont-illegales {
      padding: 20px;
      ul {
        padding: 0;
        li {
          display: inline-block;
        
          &:first-child {
            border: none;
            border: none;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

    /*Liens pratiques*/
    .cont-footer {
      .cont-pratique {
        .links-pratiques, .links-reseaux {
        padding-left: 15px;      
          li {          
            span, a {
              font-weight: 400;
            }
          }
        }
      }
    }
  }

}/*Fin (max-width: 761px)*/